:root {
  --purple: #0ef0ad;
  --pink: #09926a;
  --blue: #222434;
}
.loading .gamesBtn button{
  color: var(--pink);
}
.our-games .game-section-block:hover .buttonPlay {
  opacity: 1;
  transition: opacity 0.5s ease;
}

.buttonPlay {
  opacity: 0;
  appearance: none;
  border: none;
  cursor: pointer;
  background-color: var(--p300);
  color: var(--n800);
  border-radius: 40px;
  outline: none;
  margin: 0 auto;
  padding: 0px 5px;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -1px;
  position: absolute;
  text-align: center;
  transition: none;
  transform: translateZ(0px);
  z-index: 99;
  align-self: center;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
}

.buttonPlay:hover {
  color: #fff;
}

.shapesPlay {
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  border-radius: 60px;
  background: linear-gradient(
    60deg,
    var(--blue) 0%,
    #d6cbf6 30%,
    var(--pink) 70%
  );
}

.blush {
  position: absolute;
  bottom: -15px;
  width: 100px;
  height: 30px;
  filter: blur(20px);
}

.blush.pink {
  right: 20px;
  background: var(--purple);
}

.blush.blue {
  left: 20px;
  background: var(--blue);
}

.shapesPlay .containerr {
  position: absolute;
  top: -100px;
  bottom: -100px;
  left: -100px;
  right: -100px;
  width: calc(100% + 200px);
  pointer-events: none;
}

.shapesPlay canvas {
  position: absolute;
  width: 100%;
  height: 100%;
}

.labelPlay {
  width: 130px;
  padding: 10px 0;
  transform: translateZ(0);
  font-weight: 700;
  z-index: 1;
}

.default {
  display: block;
}

.number {
  padding: 20px 0;
  width: 88px;
  position: relative;
  transform: translateZ(0);
}

.number:before {
  content: "";
  position: absolute;
  left: 0;
  top: 1px;
  bottom: 1px;
  width: 1px;
  background-color: #35373f;
}

.current {
  color: #8a8d9b;
  opacity: 1;
  display: block;
}

.new {
  color: #fbfaaa;
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  display: block;
}

.add {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  opacity: 0;
  transform: translateY(38px);
  pointer-events: none;
  color: #d0d0db;
  display: block;
}

h3.gameTitle {
  position: absolute;
  bottom: 0px;
  right: 10px;
  font-size: 22px;
}

.games-thumb.our-games .shape-area img.shape-1 {
  left: 5%;
}

.game-section-block-wrp {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
  margin-bottom: 4rem;
}

.game-section-block .single-box {
  height: 100%;
  padding: 0;
  margin: 0;
}

.game-section-block {
  border-radius: 0.8rem;
  position: relative;
  padding: 0;
  margin: 0;
  min-height: 17.2rem;
  position: relative;
}

.game-section-block:nth-child(23),
.game-section-block:nth-child(41),
.game-section-block:nth-child(5) {
  grid-column: 3/5;
}

.game-section-block:nth-child(14),
.game-section-block:nth-child(32),
.game-section-block:nth-child(50) {
  grid-column: 1/3;
}

.game-section-block:nth-child(5) {
  grid-row: 1/3;
}

.game-section-block:nth-child(23) {
  grid-row: 7/9;
}

.game-section-block:nth-child(41) {
  grid-row: 13/15;
}

.game-section-block:nth-child(14) {
  grid-row: 4/6;
}

.game-section-block:nth-child(32) {
  grid-row: 10/12;
}

.game-section-block:nth-child(50) {
  grid-row: 16/18;
}

.our-games .shape-area img.gameShape {
  animation: none;
}

.our-games .shape-area img.gameShape1 {
  width: 260px;
  border-radius: 25%;
}

.game-section-block .link-item a {
  color: var(--p300);
}

.game-section-block .thumb-img {
  width: 100%;
  height: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  object-position: center;
  align-self: flex-start;
}

.game-section-block .single-box .head {
  height: calc(100% - 60px);
}

/* .game-section-block:nth-child(23),
.game-section-block:nth-child(41),
.game-section-block:nth-child(5) .buttonPlay {
  top: 35%;
  left: 35%;
}

.game-section-block:nth-child(14),
.game-section-block:nth-child(32),
.game-section-block:nth-child(50) .buttonPlay {
  top: 35%;
  left: 35%;
} */

/* .game-section-block:nth-child(5) .buttonPlay {
  top: 35%;
  left: 35%;
}

.game-section-block:nth-child(23) .buttonPlay {
  top: 35%;
  left: 35%;
}

.game-section-block:nth-child(41) .buttonPlay {
  top: 35%;
  left: 35%;
}

.game-section-block:nth-child(14) .buttonPlay {
  top: 35%;
  left: 35%;
}

.game-section-block:nth-child(32) .buttonPlay {
  top: 35%;
  left: 35%;
}

.game-section-block:nth-child(50) .buttonPlay {
  top: 35%;
  left: 35%;
} */


.gameBannerWrapImg {
  position: absolute;
  top: 20%;
  right: 15px;
  z-index: 1;
  width: 100%;
  max-width: 500px;
  height: 100%;
  max-height: 320px;
}
.gameBannerWrapImg img {
  width: 100%;
  height: 100%;
  clip-path: polygon(
    50% 0%,
    83% 12%,
    100% 43%,
    93% 78%,
    68% 100%,
    32% 100%,
    6% 78%,
    0% 43%,
    17% 12%
  );
  object-fit: fill;
  transform: scale(1);
}

@media (max-width: 1200px) {
  .game-section-block-wrp {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    margin-bottom: 2rem;
  }
  .game-section-block-wrp .game-section-block {
    grid-row: auto;
    grid-column: auto;
  }
  /* .game-section-block .buttonPlay {
    top: 40% !important;
    left: 50% !important;
  } */
}

@media (max-width: 991px) {
  .banner-section.game {
    /* background-image: none !important; */
    /* background-size: 60% !important; */
  }
  .game-section-block-wrp {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
  }
  .gameBannerWrapImg {
    max-width: 310px;
    max-height: 150px;
    bottom: 0;
    right: 20px;
    top: unset;
    border-radius: 50px;
    opacity: 0.9;
  }

  .gameBannerWrapImg img {
    clip-path: unset;
    border-radius: 50px 50px 0 0;
  }
}

@media (max-width: 500px) {
  .gameBannerWrapImg {
    bottom: 0;
    right: 0px;
  }
  .game-section-block-wrp {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
  }
  .game-section-block {
    min-height: 12rem;
  }
  h3.gameTitle {
    position: absolute;
    bottom: -20px;
    right: 10px;
    font-size: 16px;
  }
  .buttonPlay {
    padding: 0px 0px;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
  }
  .labelPlay {
    width: 120px;
  }
  .game-utils .content-box {
    flex-wrap: wrap;
  }
  .game-utils .content-box .icon-box {
    margin: 0 auto;
  }
}
