.counter-section .display-one,
.counters span {
  font-weight: inherit;
  width: auto;
  padding: 0;
  border: none;
}

.services-solutions > img {
  filter: blur(0px);
}

.services-solutions .default-img.lazy-load-image-background.blur.lazy-load-image-loaded{
  filter: blur(0px) 
}

.number:before {
  content: none;
}

.our-focus.index-two {
  background-color: var(--n800);
}
.our-focus.index-two {
  background-color: var(--n800);
}
.our-focus.index-two:before {
  content: none;
}

.key svg {
  width: 32px;
  height: 32px;
}

.key svg path {
  fill: #fff;
}

.services-solution .single-box p {
  padding: 0 20px;
  z-index: 1;
  color: #fff;
  font-weight: 700;
}

@media (max-width: 1200px) {
  .services-solution {
    row-gap: 2rem;
  }
  .services-solution .single-box {
    height: 100%;
    overflow: hidden;
  }
  .services-solution .col-sm-6 {
    max-height: 240px;
  }
}

@media (max-width: 768px) {
  .services-solution {
    row-gap: 2rem;
  }
  .services-solution .single-box {
    height: 100%;
  }
  .services-solution p {
    font-size: 14px;
  }
  .how-it-works .icon-box {
    width: 60px;
    height: 60px;
  }
  .key svg {
    width: 22px;
    height: 22px;
  }
}
