.counter-section .display-one,
.counters span {
  font-weight: inherit;
  width: auto;
  padding: 0;
  border: none;
}

.services-solutions .single-box {
  overflow: hidden;
}

.services-solutions .lazy-load-image-background.blur {
  filter: blur(0);
}

.number:before {
  content: none;
}

.our-focus.index-two {
  background-color: var(--n800);
}

.our-focus.index-two {
  background-color: var(--n800);
}

.our-focus.index-two:before {
  content: none;
}

.key svg {
  width: 2rem;
  height: 2rem;
}

.key svg path {
  fill: #fff;
}

.services-solution .single-box p {
  padding: 0 1.25rem;
  z-index: 1;
  color: #fff;
  font-weight: 700;
}

@media (max-width: 1200px) {
  .services-solution {
    row-gap: 2rem;
  }

  .services-solution .single-box {
    height: 100%;
    overflow: hidden;
  }

  .services-solution .col-sm-6 {
    max-height: 15rem;
  }
}

@media (max-width: 768px) {
  .services-solution {
    row-gap: 2rem;
  }

  .services-solution .single-box {
    height: 100%;
  }

  .services-solution p {
    font-size: 0.875rem;
  }

  .how-it-works .icon-box {
    width: 3.75rem;
    height: 3.75rem;
  }

  .key svg {
    width: 1.375rem;
    height: 1.375rem;
  }
}
