.checkAge-form {
  min-width: 18.75rem;
  max-width: 31.25rem;
  width: 100%;
}
.checkAge-form button {
  padding: 0.8rem 1.1rem;
  color: #00ff69;
  border: 0.0625rem solid #00ff69;
  margin: 1rem 0.5rem;
  margin-top: 2rem;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  outline: none;
  background-color: transparent;
  transition: all 0.3s ease;
  border-radius: 0.625rem;
}
.checkAge-form button:hover {
  background-color: #00ff69;
  color: #fff;
}
.checkAge-form button.rejectAge:hover {
  background-color: #ff3030;
  color: #fff;
}
.checkAge-form button.rejectAge {
  color: #ff3030;
  margin-top: 0;
  border: 0.0625rem solid #ff3030;
}
.checkAge-form h3 {
  font-size: 1.6rem;
  color: #fff;
  margin: 1rem 0;
  text-transform: none;
}
.modal-age-styles {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(6, 6, 6, 0.4);
  padding: 3.125rem;
  max-width: 31.25rem;
  font-weight: 700;
  border-radius: 1.5625rem;
}
@media (max-width: 520px) {
  .checkAge-form h3 {
    font-size: 1.3rem;
  }
  .modal-age-styles {
    padding: 1.875rem;
  }
}
