@media (max-width: 991px) {
  .banner-section .shape-area .shape-2 {
    bottom: 15%;
    left: 0;
    animation: rotate 35s linear infinite;
  }
   .banner-section .shape-area .shape-1 {
   display: none;
  }
}

@media (max-width: 767px) {
  .gaming-character.ongoing-values .about-values .slick-arrow {
    display: flex !important;
  }
  .gaming-character.ongoing-values
    .about-values
    .slick-arrow.bottom-right.arafat-next {
    left: 27%;
  }
}
