.brands .thumb img {
  filter: grayscale(1);
  object-fit: scale-down;
  max-width: 120px;
  width: 100%;
  max-height: 80px;
  height: 100%;
  opacity: 0.5 !important;
}
.brands .thumb {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width:1200px) {
  .brand-wrap {
    row-gap: 2rem;
    padding: 0 20px;
  }
  .brands .thumb {
    height: 40px;
  }
}