.logoGame img {
  width: 5rem;
  height: 5rem;
  object-fit: cover;
}

.our-games button.box-style.btn-box {
  max-width: 7.5625rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3.125rem;
}
.tablinks .btn-box {
  color: #3fca90;
}
.our-games .tablinks button {
}
.tabcontents .loading {
  cursor: pointer;
  background: var(--n900);
  position: relative;
  overflow: hidden;
  transition: all 0.3s;
  z-index: 0;
  border: 0.0625rem solid var(--p400);
}

.tabcontents .loading button {
  color: var(--p300);
  transition: all 0.3s;
}

.tabcontents .loading:hover button {
  color: white;
}

.tabcontents .loading:hover {
  border: 0.0625rem solid var(--p500);
}

.tabcontents .loading:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 100%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  border-radius: 100%;
  background-color: var(--p300);
  transition: all 0.7s ease;
  z-index: -1;
}

.tabcontents .loading:hover:before {
  border-radius: 0.9375rem;
  background-color: var(--p500);
}

.tabcontents .loading:hover:before {
  width: 300%;
  height: 300%;
}
