.homeBanner .box-style.btn-box {
  width: auto;
}

.homeBanner .game-carousel .thumb img {
  height: 20rem;
  object-fit: cover;
}

.homeBanner.banner-section .banner-content {
  padding-bottom: 3.125rem;
}

.homeBanner .slick-track {
  padding-bottom: 0;
}

.homeBanner .fs-four {
  font-size: 1.25rem;
  color: var(--n20);
}

@media (max-width: 991px) {
  .homeBanner.banner-section .overlay .banner-content {
    padding: 7.5rem 0 6.875rem;
    padding-bottom: 3.125rem;
  }
}
