.homeBanner .box-style.btn-box {
  width: auto;
}

.homeBanner .game-carousel .thumb img {
  height: 320px;
  object-fit: cover;
}

.homeBanner.banner-section .banner-content {
  padding-bottom: 50px;
}

.homeBanner .slick-track {
  padding-bottom: 0px;
}

.homeBanner .fs-four {
  font-size: 20px;
  color: var(--n20);
}

@media (max-width: 991px) {
  .homeBanner.banner-section .overlay .banner-content {
    padding: 120px 0 110px;
    padding-bottom: 50px;
  }
}
