.checkAge-form {
  text-align: center;
}

.close {
  position: absolute;
  top: 0.9375rem;
  z-index: 999;
}
.close span {
  font-size: 1.125rem;
  color: var(--p300);
}
.close.default {
  top: 1.25rem;
  left: 1.25rem;
}
