.sidebar_aside {
  background: #161829;
  background-image: linear-gradient(to bottom, #200505 94, #000);
  width: 36em;
  height: 100%;
  min-height: 100vh;
  position: fixed;
  right: 0px;
  top: 0px;
  z-index: 1200;
  transition: all 0.3s linear 0s;
  will-change: opacity, transform;
}

@media (max-width: 850px) {
  .sidebar_aside {
    width: 27rem;
  }
}

@media (max-width: 480px) {
  .sidebar_aside {
    width: 100%;
  }
}

.sidebar_wrapper {
  position: relative;
  padding: 5rem 2rem 5rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.sidebar_wrapper ul {
  gap: 30px;
}

.sidebar_wrapper a {
  text-transform: capitalize;
  font-weight: 600;
  background-color: transparent;
  color: var(--bs-white);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}
.sidebar_wrapper li:hover a {
  color: var(--p300);
}
.sidebar_wrapper a.active {
  color: var(--p300);
}

.sidebar_wrapper a.active::before {
  transform: rotate(-50deg);
  opacity: 1;
  transition: 0.3s;
}

.sidebar_wrapper a::before {
  position: absolute;
  content: "";
  transform: rotate(0deg);
  transition: 0.3s;
  opacity: 0;
  background-color: var(--p300);
  width: 60px;
  height: 2px;
}

.bg-blur {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.68) 0%,
    rgba(0, 0, 0, 0.4) 100%
  );
  box-shadow: 0px 4px 24px 1px rgba(35, 16, 94, 0.25);
  backdrop-filter: blur(10px);
}
