.checkAge-form button {
  padding: 0.8rem 1.1rem;
  color: #00ff69;
  border: 1px solid #00ff69;
  margin: 1rem 0.5rem;
  margin-top: 2rem;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  outline: none;
  background-color: transparent;
  transition: all 0.3s ease;
  border-radius: 10px;
}
.checkAge-form button:hover {
  background-color: #00ff69;
  color: #fff;
}
.checkAge-form button.rejectAge:hover {
  background-color: #ff3030;
  color: #fff;
}
.checkAge-form button.rejectAge {
  color: #ff3030;
  margin-top: 0rem;
  border: 1px solid #ff3030;
}
.checkAge-form h3 {
  font-size: 1.6rem;
  color: #fff;
  margin: 1rem 0;
  text-transform: none;
}
