.contact-location .text-area span {
  font-size: 0.9375rem;
}

@media (max-width: 1200px) {
  .info-office {
    justify-content: space-between;
    gap: 1.5rem;
  }
}
@media (max-width: 767px) {
  .info-office {
    gap: 0.8rem;
  }
}

footer a.active {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  color: var(--p300);
}
footer a.active::before {
  position: absolute;
  content: "";
  transform: rotate(-50deg);
  opacity: 1;
  transition: 0.3s;
  background-color: var(--p300);
  width: 1.875rem;
  height: 0.0625rem;
}
