.AccordionItem {
  border-radius: 0.5rem;
  overflow: hidden;
  margin-bottom: 1.25rem;
  background-color: #fff;
}

.AccordionHeader {
  padding: 1.25rem;
  cursor: pointer;
  transition: background-color 0.15s ease-in-out;
}

.AccordionHeader:hover {
  background-color: #ffd700;
}

.AccordionHeader.active {
  background-color: #ffd700;
}

.AccordionPanel {
  padding: 1.25rem;
}
