
.AccordionItem {
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 20px;
    background-color: #fff;
}

.AccordionHeader {
    padding: 20px;
    cursor: pointer;
    transition: background-color 0.15s ease-in-out;
}

.AccordionHeader:hover {
    background-color: #ffd700;
}

.AccordionHeader.active {
    background-color: #ffd700;
}

.AccordionPanel {
    padding: 20px;
}
