section.error {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../../assets/img/404Bg2.wepb"),
    url("../../assets/img/404Bg1.wepb");
  background-repeat: no-repeat;
  background-size: contain, contain;
  background-position:
    top left,
    bottom right;
}

.error_content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  z-index: 2;
}

a.go_home.theme_button {
  position: relative;
  font-size: 0.9375rem;
  font-weight: 700;
  font-style: normal;
  line-height: 1.3125rem;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.08125rem;
  color: var(--n800);
  border-color: var(--p300);
  background-color: var(--p300);
  padding: 0.75rem 1.875rem;
  cursor: pointer;
  overflow: hidden;
}

h1.error_title {
  float: none;
  width: 100%;
  font-size: 16.875rem;
  line-height: 1em;
  margin: 0;
  margin-top: 0 !important;
  letter-spacing: 0;
  text-align: center;
  hyphens: none;
  color: #fff;
  position: relative;
  z-index: 2;
}

h2.error_subtitle {
  margin: 1.25rem 0 0;
  font-size: 2.9375rem;
  line-height: 1.1em;
}

p.error_description {
  font-size: 1.1875rem;
  margin-top: 1.25rem;
  margin-bottom: 2.6875rem;
  font-weight: 400;
  text-transform: none;
  letter-spacing: 0;
}

section.error:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-image: url("../../assets/img/404.wepb");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (max-width: 500px) {
  h1.error_title {
    font-size: 9.375rem;
  }
}
